<%= form_for @restaurant, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :about, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :about, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :number, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image, :class => 'image_field' %>
    </div>
  </div> 

  <div class="control-group">
    <%= f.label :remote_image_url, "or image URL", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :remote_image_url, :class => 'image_field' %>
    </div>
  </div> 


  <div class="control-group">
    <%= f.label :attachment, "Menu", :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :attachment, :class => 'attachment_field' %>
    </div>
  </div> 


  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                restaurants_path, :class => 'btn' %>

  </div>
  
<% end %>
