<!DOCTYPE html>
<html>
  <head>
  </head> 

  <div class="navbar navbar-fixed-top" style=" font-size: 12px; ">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Food-topia</a>
        <div class="nav-collapse">
          <ul class="nav">
             <li><%= link_to "Daring dishes" %></li>
            <li><%= link_to "Sweet tooth" %></li>
            <li><%= link_to "Contact moi" %></li>
          </ul>
            <ul style="float: right; margin: 10px">
              <% if user_signed_in? %> 
              Signed in as <%= current_user.email %>. Not you? 
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
              <% else %> 
              <%= link_to "Sign up", new_user_registration_path %> or 
              <%= link_to "Sign in", new_user_session_path %> 
              <% end %> 
            </ul> 
        </div>
      </div>
    </div>
  </div>


  <title>Lab1</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  <body class="container">


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

    <%= yield %>

    <footer style="text-align:center;"> Vandoonia 2014 
    </footer> 
  </body>
</html>
